<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<title>Website Bookmarking</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
<h1 th:text ="${projectName}"></h1>	
	<table>
		<tr>
			<th>Name</th>
			<th>Links</th>
			<th>Memos</th>
		</tr>
		<tr th:each="website : ${websites}">
			<td th:text="${website.name}"></td>
           <td><a th:href="@{${website.URL}}" th:text="${website.URL}"></a></td>
            <td th:text="${website.note}"></td>
			<!--<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
			-->
		</tr>
	</table>
	<a href="/websiteadd">Add website</a>
</div>
</body>

</html>